:host {
  --item-radius: 8px;
}

button {
  anchor-name: --toggle-btn;
  background-color: var(--bg-base-strongest);
  color: var(--text-brand-default);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: var(--item-radius);
  &:hover {
    cursor: pointer;
    background-color: var(--bg-base-stronger);
  }
}

article {
  position: absolute;
  position-anchor: --toggle-btn;
  top: anchor(bottom);
  right: anchor(right);
  margin-top: 0.5rem;

  display: flex;
  flex-direction: column;

  background-color: var(--bg-base-strongest);
  border-radius: 15px;
  padding: 0.5rem 0;
  min-width: 12rem;
  border: solid 1px var(--bg-base-strong);
}

article > button {
  margin: 0 0.5rem;
  padding: 0.75rem 0.5rem;
}

ul,
li {
  list-style: none;
  padding: 0;
  &.sm-text {
    margin: 0;
  }
  &.option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--item-radius);
    &:has(box-icon) {
      background-color: var(--bg-base-stronger);
    }
  }
}

article > ul {
  padding: 0 0.5rem;
  margin: 0;
  color: var(--text-brand-weak);
}

article > ul > li > ul:not(:first-child) {
  border-top: solid 1px var(--bg-base-strong);
}

ul > li > ul > li {
  padding: 0.75rem 0.5rem;
  &:has(box-icon) {
    padding: 0.5rem 0.5rem;
  }
}

box-icon {
  fill: var(--text-brand-weak);
  transform: scale(0.8);
}
