button {
  background-color: var(--bg-base-strongest);
  color: var(--text-brand-default);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 8px;
  &:hover {
    cursor: pointer;
  }
}

article {
  background-color: var(--bg-base-strongest);
  border-radius: 15px;
}

ul,
li {
  list-style: none;
  padding: 0;
  &.sm-text {
    margin: 0;
  }
  &.option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:has(box-icon) {
      background-color: var(--bg-base-strong);
      border-radius: 5px;
    }
  }
}

article > ul {
  padding: 0 0.5rem;
  margin: 0;
color: var(--text-brand-weak);
}

article > ul > li > ul:not(:first-child) {
  border-top: solid 1px var(--bg-base-strong);
}

ul > li > ul > li {
  padding: 0.5rem 0.5rem;
}

box-icon {
  fill: var(--text-brand-weak);
  transform: scale(0.9);
}
